
<h3><%= @employee.name %></h3>
<p>Email: <%= @employee.email %></p>
<% if @employee.phone %>
  <p>Phone: <%= @employee.phone %></p>
<% end %>
<% if current_user.id == @employee.id || (@employee.manager && current_user.id == @employee.manager.id) %>
<%= link_to("Edit", edit_employee_url)%>
<% end %>

<% if current_user.id == @employee.id && @employee.is_manager? %>
<h3>Staff</h3>
<%= link_to("Add staff", new_employee_url)%>
<ul>
  <% @employee.staff.each do |member| %>
    <li><%= link_to(member.name, employee_url(member))%></li>
  <% end %>
</ul>
<% elsif !@employee.is_manager? %>
<h3>Manager</h3>
<p><%= link_to(@employee.manager.name, employee_url(@employee.manager)) %></p>
<% end %>
<br>
<br>



<% if current_user.id != @employee.id %>
<%= link_to("Return to your page", employee_url(current_user)) %>
<% end %>



